.header {
  max-height: 12%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
  padding: 0.5rem;

  .header__menu_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.2rem;

    & > a {
      border: none;
      border-radius: 7px;
      padding: 0.4rem 1.5rem;
      color: #000;
      font-size: 1.15rem;
      font-weight: bold;
    }

    & > a.active {
      border-bottom: 2px solid #f9f7f730;
    }
  }

  // & > a:first-of-type {
  //   background-color: transparent;
  // }

  .logo {
    height: 150px;
    margin-right: auto;
    background-color: transparent;
    cursor: pointer;
  }

  @media (max-width: 500px) {
    display: none !important;
    // max-height: 15%;
    // flex-direction: column-reverse;

    // .logo {
    //   height: 150px;
    //   margin: auto;
    //   // margin-top: 1rem;
    // }

    // .header__menu_items {
    //   margin-top: -2rem;
    // }
  }
}
