.mapDropdown {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  height: 10rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #454a46c5;
  z-index: 2000;
  transform: translateX(-50%);
  padding: 0 0.5rem;

  .mapDropdown__locations {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .mapDropdown__locations_item {
    width: 100%;
    margin-bottom: 0.2rem;
    border-radius: 7px;
    padding: 0 0.5rem;
    background-color: #f4f4f4;
    color: #000;
    cursor: pointer;

    span {
      pointer-events: none;
    }

    &.active {
      background-color: rgb(167, 167, 167);
      color: #000;
    }
  }

  .mapDropdown__input {
    width: 100%;
    height: 2rem;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    background-color: #fff;

    & > input {
      width: 100%;
      height: 100%;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }

  .mapDropdown__dropdown__container {
    position: relative;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mapDropdown__dropdown {
    position: absolute;
    bottom: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // gap: 0.5rem;
    border-radius: 7px;
    background-color: #1e3a5a;
    color: #fff;
    margin-bottom: 3px;

    li {
      width: 100%;
      border-bottom: 1px solid rgb(99, 99, 99);
      padding: 0.2rem 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: #354e6b;
      }
    }

    & > li:first-of-type {
      padding-top: 0.5rem;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
    }

    & > li:last-of-type {
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      border-bottom: none;
    }
  }

  .mapDropdown__submit {
    width: 95%;
    height: 2rem;
    padding: 0 0.5rem;
    border-radius: 7px;
    background-color: #19395e;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }

  @media (max-width: 500px) {
    width: 95%;
    font-size: 0.8rem;

    input {
      font-size: 0.7rem !important;
    }
  }
}
