@import '~leaflet/dist/leaflet.css';

@font-face {
  font-family: 'iransans';
  src: url('./assets/fonts/IRANSansWeb.ttf');
}

body,
html {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

* {
  font-family: 'iransans';
}

li {
  list-style: none;
}

.leaflet-container {
  height: 100vh;
}
