@import '~leaflet/dist/leaflet.css';

@font-face {
  font-family: 'iransans';
  src: url('./assets/fonts/IRANSansWeb.ttf');
}

* {
  font-family: 'iransans';
}

.leaflet-container {
  height: 100vh;
}
